- content_for :page_title do
  = site_hostname

- content_for :header_tags do
  = javascript_pack_tag 'public', integrity: true, crossorigin: 'anonymous'
  = render partial: 'shared/og'

.landing-page
  .header-wrapper.compact
    .header
      = render 'headerLinks'

  .sponsor-board
    .container
      .information-board-sections
        .section
          %h1= 'SPONSORS'
          %h2= '2ndamendment.social is proudly supported by'

  .extended-description
    .container.sponsors
      .sponsors--logo
        = link_to 'https://2ndamendmentguns.com', target: '_blank' do
          = image_tag "http://2ndamendmentguns.com/images/light/store_logo.png", alt: '2nd Amendment Guns'
      .sponsors--logo
        = link_to 'https://www.saftd.org/', target: '_blank' do
          = image_tag "https://www.saftd.org/images/saftdlogo2016.png", alt: '2nd Amendment Foundation Training'
      .sponsors--logo
        = link_to 'https://www.saf.org/', target: '_blank' do
          = image_tag "https://www.saf.org/wp-content/themes/safsources/images/logo.png", alt: '2nd Amendment Foundation'

  .footer-links
    .container
      %p
        = link_to t('about.source_code'), @instance_presenter.source_url
        = " (#{@instance_presenter.version_number})"
